:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3880fc;
  text-decoration: inherit;
}
a:hover {
  color: #002ba2!important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: black;
  background-color: #f5f5f5;
}

body.news {
  background-color: white;
}

.back_button {
  position: absolute;
  top: 10px;
  left: 30px;
}

.back_button_link:hover {
  color: #080808 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin-top: -10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eff0f4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ebebf4;
  }
  button {
    background-color: #f9f9f9;
  }
}

th {
  font-weight: 500;
}

ul {

  list-style-type: none;
}

.active_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.down_arrow {
  color: red;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse;
}

.graph_div {
  width: 100%;
}

.most-width {
  width: 75%;
  vertical-align: top;
}

.quarter-width {
  width: 25%;
  vertical-align: top;
  border: 0.5px solid rgb(176, 174, 174);
}

.most_active {
  margin-top: 40px;
}

.negativeCurr::before {
  content: '-$';
}

.recent_articles {
  font-weight: bold;
  margin-top: 40px; 
}

.stock_link {
  margin-bottom: -10px;
}

.stock_link:hover {
  cursor: pointer;
}

.summaries {
  width: 100%;
}

.table_data {
  /* background-color: rgb(3, 3, 3);
  color: white;
  border-radius: 5px; */
  line-height: 1;
}

.table_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: medium;
}

.ticker-info {
  color: black;
}

.up_arrow {
  color: rgb(19, 197, 19);
}
